Package: com.sxb.sohuvideoassi
Name: sohuVideoAssi
Depends: mobilesubstrate, firmware (>=8.0)
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: sxb
Author: sxb
Section: Tweaks
