Package: com.sxb.thunderVIP
Name: thunderVIP
Depends: mobilesubstrate, firmware (>=8.0)
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SXB
Author: SXB
Section: Tweaks
