Package: com.sxb.sohuvideoassi
Name: sohuVideoAssi
Depends: mobilesubstrate, firmware (>=8.0)
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: sxb
Author: sxb
Section: Tweaks
Version: 1.0-14+debug
Installed-Size: 140
