Package: sxb
Name: purpleFlashTest
Depends: mobilesubstrate, firmware (>= 8.0)
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: sxb
Author: sxb
Section: Tweaks
Version: 1.0-2+debug
Installed-Size: 136
